#invoice {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

#invoice table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

#invoice table td {
  padding: 5px;
  vertical-align: top;
}

#invoice table tr td:nth-child(2) {
  text-align: right;
}

#invoice table tr.top table td {
  padding-bottom: 20px;
}

#invoice table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

#invoice table tr.information table td {
  padding-bottom: 40px;
}

#invoice table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

#invoice table tr.details td {
  padding-bottom: 20px;
}

#invoice table tr.item td {
  border-bottom: 1px solid #eee;
}

#invoice table tr.item.last td {
  border-bottom: none;
}

#invoice table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #invoice table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  #invoice table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/** RTL **/
.rtl {
  direction: rtl;
  font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}

#total {
  border-top: 2px solid #eee;
  font-weight: bold;
  text-align: end;
}

input {
  color: #555;
}

.item-input {
  border: none;
}

.item-price {
  text-align: end;
}

#item-div {
  text-align: center;
  margin: 10px;
}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sign {
  text-align: center;
}